<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/admin/settings" method="POST">
        <div class="form-group">
            <label for="postlimit">Post Limit</label>
            <input type="text" name="post_limit" value="<%=settings%>">
        </div>
        <input type="submit" class="btn" value="Save Settings">
    </form>
</body>
</html>