<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/style.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/css/fontawesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/css/brands.css">
        <link rel="stylesheet" type="text/css" href="/static/css/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/css/fontawesome.css">
        <link rel="stylesheet" type="text/css" href="/static/css/css/regular.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/css/solid.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/css/svg-with-js.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/css/svg-with-js.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/css/regular.css">
        <link rel="stylesheet" type="text/css" href="/static/css/css/solid.css">
        <link rel="stylesheet" type="text/css" href="/static/css/css/v4-shims.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/css/v4-shims.css">
    </head>
    <body>
        <div class="login-box">
        <%- include ("./partials/messages") %>
        <h1>Forgot Password</h1>
        
        <form action="/users/f_password" method="post">
            <div class="form-group">
                <i class="fas fa-envelope " aria-hidden="true"></i>
                <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
                value="<%= typeof email != 'undefined' ? email : '' %>" />
            </div>
                <button type="submit" class="btn">Submit</button>
                <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
        
        </form>
    </div>
    </body>
</html>