
html {
	padding: 0px;
	margin:0px;
	background:white;
	/*background-color:white;*/
	background: url(/static/img/Tulips.jpg) no-repeat center fixed;
    background-size: cover;
}

body {
	padding: 0px;
	margin:0px;
}


/*Post Section*/

section.post {
	width:1000px;
	margin:0 auto;
	margin-top: 50px;
}
div.post-element {
	border-left-width: 2px;
	border-left-color: rgb(30 20 30);
	border-left-style:solid;
	margin-bottom: 40px;
	padding-left: 10px;
}
section.post a {
	color: white;
	text-decoration: none;
}
section.post .post-title {
	text-align: center;
}
section.post button {
	background-color: blue;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 5px;
	padding:2px 10px 2px 10px;
}

/*Form Section */

section.post form {
	display:flex;
	flex-direction: column;
	padding-left: 10px;
	padding-right: 10px;
}

section.post form input {
	height: 20px;
	background:transparent;
	border-radius: 5px;
}

section.post form input:hover {
	border-color: black;
}


section.post form textarea {
	min-height: 80px;
	min-width: 150px;
	/*width:1323px;*/
	color:black;
	font-family: san-seriff;
	font-size: 16px;
	background: transparent;
	border-radius:5px;
	max-height: 80px;
	max-width:150px;
}

section.form-section form button {
	width:100px;
	height: 30px;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	border-radius:5px;
	font-size: 20px;
	background:transparent;
	color:white;
}

section.form-section form button:hover {
	background-color: grey;
}
